.edit-task{
  min-height: calc(100vh - 128.64px);
}
.edit-task .title-input{
  border: none;
  background-color: transparent;
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-top: 11px;
}
.edit-task .fa-pen-to-square{
font-size: 18px;
transition: 0.5s;
margin-left: 12px;
}
.edit-task .fa-pen-to-square:hover{
font-size: 24px;
cursor: pointer;
}
.edit-task .sub-task{
  max-width: 600px;
  height: 200px;
  margin: auto;
}
.edit-task .parent-time{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit-task .time time{
  font-size: 12px;
  color: #277c7c;
}
.edit-task #www{
  width: 18px;
  height: 18px;
  accent-color: rgb(26, 156, 156);
}
.edit-task label{
  font-size: 17px;
  margin-left: 11px;
  position: relative;
  bottom: 3px;
}
.edit-task .card-task{
  box-shadow: 0 5px 34px 0 rgb(0 0 0 / 25%);
  background-color: rgb(65, 71, 84);
  padding: 16px;
  border-radius: 5px;
  transition: 0.5s;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit-task .card-task:hover{
  background-color: rgb(74, 82, 97);
  border-left: 4px solid wheat;
}
.edit-task .fa-trash{
  padding-right: 19px;
  color: rgb(237, 181, 181);
}
.edit-task .add-more{
  background-color: teal;
  font-size: 16px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  
}
.light .title-input, .light .time, .light .fa-pen-to-square, .light label{
  color: rgb(65, 71, 84);;
}

.edit-task .addo, 
.edit-task .cancel{
  background-color: teal;
  font-size: 16px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  margin-left: 11px;
}
.add-newtask{
  box-shadow: 0 5px 34px 0 rgb(0 0 0 / 25%);
  background-color: rgb(65, 71, 84);
  border-radius: 7px;
  padding: 16px;
  animation: subtask 0.9s;
}
.edit-task .add-task{
  margin: 11px 0 11px 11px;
  color: black;
}
@keyframes subtask {
  0%{
    scale: 0;
  }
  50%{
    scale: 1.3;
  }
  100%{
    scale: 1;
  }
}
